@charset "UTF-8";
@import url(style.css);
@import url(admin_userinfo.css);
@import url(admin.css);

/* 수정본 - adminlte.min.css */

/*.brand-link{
	line-height: 2!important;
    padding: 2rem .5rem!important;
}
.img-circle{
	border-radius: 0!important;	
}
.brand-link .brand-image{
    margin-left: 15px!important;	
	max-height: 45px!important;
	margin-top: 0px!important;
}
*/



.tt{
	background: #dcdcdc;
}
