@charset "UTF-8";
@import url(style.css);
@import url(admin.css);


/* 수정본 - adminlte.min.css */

body{
	color : #fff!important;
}

.brand-link{
	line-height: 2!important;
    padding: 2rem .5rem!important;
}
.img-circle{
	border-radius: 0!important;	
}
.brand-link .brand-image{
    margin-left: 15px!important;	
	max-height: 45px!important;
	margin-top: 0px!important;
}
.table{
	text-align: center;
	background: white;
	font-size: 15px;
	
}
.table th{
	font-size: 17px;
	border-bottom: 2px solid black;
	background: #dcdcdc;
	padding: 6px;
    font-weight: 400;
}
.content .member{
	max-width: 80%;
	margin: 0 auto;
	
}

.content-header{
	padding : 40px 0 0 0!important;
}
.content-header h1{
    margin: auto!important;
    max-width: 100%;
}
#tb{
	background: white;
}
#sc{
	height: 45px;
	width: 400px;
	border: 1px solid #282828;
	background : #ffffff;
	margin: 0 auto;
}
#search{
	font-size: 16px;
	width: 320px;
    padding: 9px 0 0 15px;
	border: 0px;
	outline: none;
	float: left;
}
#sh{
	width: 70px;
	height: 100%;
	border: 0;
	
	outline: none;
	float: right;
	
}


.nav-sidebar. nav-item a:hover{
	color:#fff!important;
}


.content-wrapper{
	color : #333; 
}


.hold-transition .content-wrapper, .hold-transition .control-sidebar, .hold-transition .control-sidebar *, .hold-transition .main-footer, .hold-transition .main-header, .hold-transition .main-sidebar, .hold-transition .main-sidebar *{
	overflow: hidden;
}

.table td{
	color : #444;
}

.font_color_white{
	color:#fff!important;
}



.table_th {
    font-size: 16px;
    border-bottom: 2px solid black;
    text-align: center;
    background: #3e454c!important;
    color: #fff;
    padding: 7px!important;
}


.table_td{
	padding: 2rem!important;
}

.total_digit{
	font-size: 25px!important;
}

.content-header .mb-2 .col-sm-6{
	width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 50px;
}


#convertcus{
	background: #007bff;
    width: 300px;
    margin: 0 auto;
    color: #fff;
    border-radius: 0.5em;
    padding: 8px;
    border : none;
}


.convertcus{
	background: #007bff!important;
    width: 300px;
    margin: 0 auto;
    color: #fff!important;
    border-radius: 0.5em;
    padding: 8px;
    border : none!important;
}


#delbtn{
	width: 300px;
    margin: 0 auto;
    color: #fff;
    border-radius: 0.5em;
    padding: 8px;
    border : none;
	background: #FF4646; 
} 

.delbtn{
	width: 300px;
    margin: 0 auto;
    color: #fff!important;
    border-radius: 0.5em;
    padding: 8px;
    border : none!important;
	background: #FF4646!important; 
	margin-left: 20px!important;

} 


.td_style{
	padding-left: 10px;
    padding-top: 20px;
}


.content-wrapper>.content{
	padding : inherit!important;
}